bc-service/src/main/resources/META-INF/schemas/GetBenefitStatusExtResponseData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://dwp.gov.uk/Common/CIS/GetBenefitStatusExt/Data/3.0"
        xmlns="http://dwp.gov.uk/Common/CIS/GetBenefitStatusExt/Data/3.0"
        elementFormDefault="qualified">

    <!-- Item type used inside the response -->
    <xs:complexType name="Item">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>